/* 1. Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Prevent font size inflation and remove default margins */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-end: 0;
}

/* 3. Remove list styles on ul, ol elements with a list role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

/* 4. Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* 6. Balance text wrapping for headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* 7. Make images and media easier to work with */
img,
picture,
canvas,
svg,
video {
  max-width: 100%;
  display: block;
}

/* 8. Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* 9. Anything that has been scrolled to should have a scroll-margin */
@media (prefers-reduced-motion: no-preference) {
  :has(:focus-visible) {
    scroll-behavior: smooth;
  }
}

button {
  width: 100%;
}
